@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFE4BB;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #F3BE5C;
    padding: 6px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}

header nav ul li:first-child{
    height: 40px;
    width: 40px;
}

header nav ul li a{
    text-decoration: none;
    color: #2a4c53;
    font-size: 23px;
    text-align: center;
}

.home {
    padding: 20px;
}

.homeImage{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homeImage div{
    height: 420px;
    width: 420px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.homeImage div img{
    width: 400px;
    filter: brightness(75%);
    animation: wipe-enter 1s 1 ease-in-out;
}

.Wish{
    text-align: center;
}

.Wish h4{
    margin: 25px 0;
    color: black;
    font-size: 50px;
}

.homeCake{
    text-align: center;
}

.homeCake img{
    width: 150px;
}

.wish{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    text-align: center;
}

.wish .box{
    background-color: #D9D9D9;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
}

.box img{
    height: 190px;
}

.photos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.img {
    width: 320px;
    height: 320px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.img img{
    width: 300px;
}

.end{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.end .end-image {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tv{
    position: relative;
    z-index: 2;
}


.together{
    position: absolute;
    height: 202px;
    left: 0px;
    top: 0px;
}

footer{
    position: relative;
}

footer img{
    box-sizing: border-box;
    width: 98vw;
}

.foot-text{
    position: absolute;
    left: 283px;
}

@media only screen and (max-width: 900px) {
    .homeImage{
        flex-direction: column;
        gap: 10px;
    }

    .wish{
        flex-direction: column;
        gap: 10px;
    }
    
    .photos{
        flex-direction: column;
        gap: 10px;
    }

    .end-image:first-child{
        width: 300px !important;
        height: 200px !important;
    }

    .together{
        height: 151px;
        left: -16px;
    }

    .homeImage div{
        width: 320px;
    }

    .homeImage div img{
        width: 300px;
    }
}